
.priority-input button {
    margin: 0.1em 0.3em;
}

#priority-input-0 label{
    color: gray;
}

#priority-input-1 {
    background-color: lightgreen;
}

#priority-input-2 {
    background-color: orange;
}

#priority-input-3 {
    background-color: plum;
}